<!--
  Generated template for the ListDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Laporan {{ today | date: "dd MMMM yyyy" }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let data of ListPatroli; let i = index">
    <ion-item-sliding #item>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/fire.png" />
        </ion-avatar>
        <h2>Laporan {{ i + 1 }}</h2>
        <h3 *ngIf="data.kategori_patroli != null">
          Patroli {{ data.kategori_patroli.nama }}
        </h3>
        <h4>
          {{ data.patroli_darat.length }} patroli darat dan
          {{ data.patroli_udara.length }} patroli udara
        </h4>
      </ion-item>
      <ion-item-options>
        <button ion-button (click)="goDetails(i)">
          <ion-icon
            ios="ios-information-circle"
            md="md-information-circle"
          ></ion-icon
          >Detail
        </button>
        <button
          color="secondary"
          ion-button
          *ngIf="checkTime()"
          (click)="goEditData(i)"
        >
          <ion-icon ios="ios-create" md="md-create"></ion-icon>Ubah
        </button>
        <button
          color="danger"
          ion-button
          (click)="goDelete(data.id)"
          *ngIf="checkTime()"
        >
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Hapus
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="goAddData()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
