// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url("https://fonts.googleapis.com/css?family=Poppins");

$primary-color: #d32f2f;

.ios,
.md {
  font-family: "Poppins", sans-serif;

  ion-app .nav-decor {
    background-color: transparent !important;
  }
  .toolbar-background {
    border-color: #b2b2b2;
    background: $primary-color;
  }

  //membuat tolbar rata tengah
  // .toolbar-content {
  //   text-align: center;
  // }

  .toolbar-title-md {
    color: white;
  }
  .tabs {
    .tabbar {
      border-top: 0.55px solid rgba(0, 0, 0, 0.3);
      background: $primary-color;
    }
    .tab-button[aria-selected="true"] .tab-button-icon,
    .toolbar-title,
    .tab-button:hover:not(.disable-hover),
    .tab-button[aria-selected="true"] {
      color: #ffffff;
    }
    .tab-button,
    .tab-button-icon {
      color: rgba(233, 205, 205, 0.7);
    }
  }
  .content {
    background-color: #d3d3d3f8;
  }
  .bar-button {
    color: #ffffff;
  }

  .button-md-light,
  .button-ios-light {
    background-color: #fff;
  }

  .fab {
    background-color: #b00020;
  }
  .fab ion-icon {
    color: white;
  }

  page-app {
    .header-menu-user {
      min-height: 160px;
      .toolbar-background-md {
        border-color: #4fd2c2; // background: #4fd2c2;
        background-image: url("../assets/imgs/background.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .toolbar-title-md {
        padding: 0 12px;
        font-family: "Poppins", sans-serif;
        font-size: 4vw;
        font-weight: 600;
        color: white;
        text-align: center;
      }
    }
    .item-md ion-icon[item-left] + .item-inner,
    .item-md ion-icon[item-left] + .item-input,
    .item-md ion-icon[item-start] + .item-inner,
    .item-md ion-icon[item-start] + .item-input {
      margin-left: 4px;
    }
    .item-md h2 {
      margin: 2px 0;
      font-size: 4.6vw;
      font-weight: 500;
    }
    .item-md .item-button {
      padding: 0 0.6em;
      height: 6vw; //font-size: 1.2rem;
    }
    ion-icon.custom-font {
      color: $primary-color;
      font-size: 6vw;
      padding-top: 4px;
    }
    p.custom-text {
      font-family: "Poppins", sans-serif;
      font-size: 4vw;
      font-weight: 500;
      color: black;
      text-align: left;
    }
  }
}
