page-details-data {
  .scroll-zoom-wrapper {
    white-space: nowrap;
  }

  ion-scroll {
    min-height: 200px;
    height: auto;

    .scroll-content {
      padding: 0px !important;
    }
  }

  ion-card img {
    height: 180px;
  }

  .scroll {
    height: 50%;
  }

  #map {
    width: 100%;
    height: 50%;
  }

  .full-card {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  ion-label {
    color: #999;
  }
  ion-card {
    .title {
      font-size: 2rem;
      text-align: center;
    }
    .card-header-new {
      padding: 5px 5px 5px 10px;
      font-size: 1rem;
      color: #222;
      background-color: #ef5350;
    }
    ion-card-header {
      h2.card-title {
        font-size: 3.8vw;
        color: white;
        font-weight: 600;
      }
    }
    .card-content-md {
      padding: 10px 0px;
    }
  }
}
